<%= form_for(@article) do |f| %>
    <%= render 'shared/error_messages',target:@article%>
    <div class="form-group">
      <%= f.label '标题' %><br>
      <%= f.text_field :title ,:class=>"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label '副标题' %><br>
      <%= f.text_field :subject,:class=>"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label '文章类型' %><br>
      <%=f.select :articletype,Articletype.all.map{ |c| [c.name, c.name] },{},{:class=>"form-control combobox"}%>
    </div>
    <div class="form-group">
      <%= f.label '封面' %><br>
      <%= f.file_field :cover,:class=>"form-control"%>
      <%= f.hidden_field :cover_cache %>
      <%= image_tag @article.cover_url(:small) || 'no' if @article.cover? %>
    </div>
  <div class="form-group">
    <%= f.label '正文' %><br>
    <%= f.text_area :content ,{id:"editor",class:'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label '作者' %><br>
    <%=f.select :user_id, User.all.map{ |u| [u.username, u.id] },{},{:class=>"form-control"} %>
  </div>
    <div class="form-group">
      <%= f.label :tag_list, "标签" %><br />
      <%= f.text_field :tag_list ,:class=>"form-control"%>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>$(function(){
    simditorinit();

}) </script>
