<p id="notice"><%= notice %></p>

<p>
  <strong>文章内容:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>文章类型:</strong>
  <%= @article.articletype_id %>
</p>

<p>
  <strong>副标题:</strong>
  <%= @article.subject %>
</p>

<p>
  <strong>标题:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>作者:</strong>
  <%= @article.user.username %>
</p>
<p>
  <strong>标签:</strong>
  <% @article.tags.each do |tag| %>
       <p><%= tag.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
